.venv/
__pycache__/
*.pyc

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

mlruns/
mlartifacts/
*.db

.dvc/cache
.dvc/tmp

kaggle.json
access_token
.env

*.egg-info/
.pytest_cache/
.ipynb_checkpoints/

reports/
