pandas>=2.2
pyyaml>=6.0
numpy>=1.26
scikit-learn>=1.4
xgboost>=2.0
mlflow>=2.14
pandera>=0.19
kagglehub>=0.2
fastapi>=0.111
uvicorn[standard]>=0.30
pydantic>=2.7
dvc>=3.51
evidently>=0.4.33
streamlit>=1.36
pytest>=8.2
requests>=2.32
joblib>=1.4
